@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xe57ww');
  src:  url('fonts/icomoon.eot?xe57ww#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xe57ww') format('truetype'),
    url('fonts/icomoon.woff?xe57ww') format('woff'),
    url('fonts/icomoon.svg?xe57ww#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai:before {
  content: "\e900";
}
.icon-briefcase:before {
  content: "\e924";
}
.icon-candidate:before {
  content: "\e92f";
}
.icon-contact:before {
  content: "\e93b";
}
.icon-education:before {
  content: "\e949";
}
.icon-embedded:before {
  content: "\e953";
}
.icon-eye:before {
  content: "\e981";
}
.icon-file:before {
  content: "\e98a";
}
.icon-git:before {
  content: "\e98e";
}
.icon-gps:before {
  content: "\e992";
}
.icon-python:before {
  content: "\e998";
}
.icon-web:before {
  content: "\e99e";
}
